# Python
__pycache__/
*.pyc

# VS Code
.vscode/
tempCodeRunnerFile.*

# Virtuelle miljøer
venv/
.venv/

# ChromaDB
chroma/
chroma_db/

# SQLite
*.sqlite3

# Logger
*.log

# Midlertidige filer
*.tmp
*.bak

# Jupyter
.ipynb_checkpoints/

# Lokale arkiver
Project html/SCRIPT/
Project html/bckup/
BACKUP/

# Midlertidige mapper
temp/
tmp/
scratch/